[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts
[submodule "powerline"]
	path = powerline
	url = https://github.com/powerline/powerline
[submodule "base16"]
	path = base16
	url = https://github.com/chriskempson/base16-shell.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/.vim/bundle/YouCompleteMe"]
	path = vim/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim/.vim/bundle/ultisnips"]
	path = vim/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
