[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "fzf/.fzf"]
	path = fzf/.fzf
	url = https://github.com/junegunn/fzf
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs
	branch = develop
