[submodule "base16"]
	path = base16
	url = https://github.com/chriskempson/base16-shell.git
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = https://github.com/powerline/fonts
[submodule "zsh/zgen"]
	path = zsh/zgen
	url = https://github.com/tarjoilija/zgen
[submodule "nvim/bundle/vim-pathogen"]
	path = nvim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "nvim/bundle/vim-gitgutter"]
	path = nvim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "nvim/bundle/rainbow"]
	path = nvim/bundle/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule "nvim/bundle/ag.vim"]
	path = nvim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "nvim/bundle/nerdcommenter"]
	path = nvim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "nvim/bundle/vim-polyglot"]
	path = nvim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "nvim/bundle/vim-fugitive"]
	path = nvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim/bundle/vim-surround"]
	path = nvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "nvim/bundle/vim-unimpaired"]
	path = nvim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "nvim/bundle/neomake"]
	path = nvim/bundle/neomake
	url = https://github.com/neomake/neomake
[submodule "nvim/bundle/vim-dirdiff"]
	path = nvim/bundle/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff
[submodule "nvim/bundle/molokai"]
	path = nvim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf
[submodule "nvim/bundle/fzf.vim"]
	path = nvim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "nvim/bundle/vim-easymotion"]
	path = nvim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "nvim/bundle/incsearch.vim"]
	path = nvim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "nvim/bundle/incsearch-easymotion.vim"]
	path = nvim/bundle/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim
[submodule "nvim/bundle/incsearch-fuzzy.vim"]
	path = nvim/bundle/incsearch-fuzzy.vim
	url = https://github.com/haya14busa/incsearch-fuzzy.vim
[submodule "nvim/bundle/gruvbox"]
	path = nvim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "nvim/bundle/base16-vim"]
	path = nvim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "nvim/bundle/vim-tmux-navigator"]
	path = nvim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "nvim/bundle/vim-rtags"]
	path = nvim/bundle/vim-rtags
	url = https://github.com/lyuts/vim-rtags
[submodule "nvim/bundle/vim-airline"]
	path = nvim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "nvim/bundle/vim-airline-themes"]
	path = nvim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "zsh/themes/lambda-mod-zsh-theme"]
	path = zsh/themes/lambda-mod-zsh-theme
	url = https://github.com/jseba/lambda-mod-zsh-theme
[submodule "nvim/bundle/YouCompleteMe"]
	path = nvim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
