zsh/.zshrc.d/60_custom
nvim/.config/nvim/lazy-lock.json
vim/.vim/plugged
vim/.vim/.netrwhist
vim/.local/share/vim/backups/*
vim/.local/share/vim/undo/*
!vim/.local/share/vim/backups/.empty
!vim/.local/share/vim/undo/.empty
vim/.vim/local/*
!vim/.vim/local/.empty
vim/.vim/tmp/backup/*
vim/.vim/tmp/swap/*
vim/.vim/tmp/undo/*
!vim/.vim/tmp/backup/.empty
!vim/.vim/tmp/swap/.empty
!vim/.vim/tmp/undo/.empty
emacs/.emacs.d/cache
emacs/.emacs.d/elpa
emacs/.emacs.d/eshell
emacs/.emacs.d/tramp
emacs/.emacs.d/var
emacs/.emacs.d/.*
emacs/.emacs.d/projectile*
emacs/.emacs.d/etc
*.elc
.uuid
*~
