roles/editor/files/vim/plugged
roles/editor/files/vim/.netrwhist
roles/editor/files/vim/tmp/backup/*
roles/editor/files/vim/tmp/swap/*
roles/editor/files/vim/tmp/undo/*

zsh/.zshrc.d/60_custom
nvim/.config/nvim/lazy-lock.json
emacs/.emacs.d/cache
emacs/.emacs.d/elpa
emacs/.emacs.d/eshell
emacs/.emacs.d/tramp
emacs/.emacs.d/var
emacs/.emacs.d/.*
emacs/.emacs.d/projectile*
emacs/.emacs.d/etc
*.elc
.uuid
*~
*.swp
