!!!!!!!!!!!!!
!!  URXVT  !!
!!!!!!!!!!!!!
st.opacity: 245

!!!!!!!!!!!!!
!!  URXVT  !!
!!!!!!!!!!!!!
URxvt*depth: 32
URxvt*buffered: true
URxvt*intensityStyles: false
URxvt*loginShell: true
URxvt*scrollstyle: rxvt
URxvt*scrollBar: false
URxvt*transparent: true
URxvt*shading: 10
! URxvt*saveLines: number
URxvt*termName: tmux-256color
URxvt*mouseWheelScrollPage: false
URxvt*cursorBlink: true
URxvt*pointerBlank: true
! URxvt*url-launcher: string
URxvt.perl-ext-common: default,resize-font
URxvt*font: xft:Source\ Code\ Pro:style=Regular:size=10
URxvt*boldFont: xft:Source\ Code\ Pro:style=Bold:size=10
URxvt*italicFont: xft:Source\ Code\ Pro:style=Italic:size=10
URxvt*boldItalicFont: xft:Source\ Code\ Pro:style=Bold\ Italic:size=10
!URxvt*letterSpace: -1
URxvt*borderColor: #000000


!!!!!!!!!!!!!!!!!!!!
!!  XSCREENSAVER  !!
!!!!!!!!!!!!!!!!!!!!
xscreensaver.Dialog.headingFont: -*-bitstream vera sans-bold-r-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont: -*-bitstream vera sans-medium-r-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont: -*-bitstream vera sans-medium-r-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont: -*-bitstream vera sans-medium-r-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont: -*-bitstream vera sans-bold-r-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont: -*-bitstream vera sans-bold-r-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.passwdFont: -*-courier 10 pitch-*-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.text.foreground: #AB9BAB
xscreensaver.Dialog.text.background: #1B181B
xscreensaver.Dialog.internalBorderWidth: 60
xscreensaver.Dialog.borderWidth: 0
xscreensaver.Dialog.shadowThickness: 2
xscreensaver.passwd.thermometer.foreground: #F7F3F7
xscreensaver.passwd.thermometer.background: #1B181B
xscreensaver.dateFormat: %H:%M %a %b %d, %Y


!!!!!!!!!
!! XFT !!
!!!!!!!!!
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!!!!!!!!!!!!!
!! XCURSOR !!
!!!!!!!!!!!!!
Xcursor.size: 32
