#include ".Xresources.d/gruvbox_dark_hard"

!!
! global
!!
*foreground:  base05
*background:  base00
*cursorColor: base05
*borderColor: base00

*color0:  base00
*color1:  base08
*color2:  base0B
*color3:  base0A
*color4:  base0D
*color5:  base0E
*color6:  base0C
*color7:  base05
*color8:  base03
*color9:  base08
*color10: base0B
*color11: base0A
*color12: base0D
*color13: base0E
*color14: base0C
*color15: base07

*color16: base09
*color17: base0F
*color18: base01
*color19: base02
*color20: base04
*color21: base06

!!
! urxvt
!!
URxvt*depth: 32
URxvt*buffered: true
URxvt*intensityStyles: false
URxvt*loginShell: true
URxvt*scrollstyle: rxvt
URxvt*scrollBar: false
URxvt*transparent: true
URxvt*shading: 10
! URxvt*saveLines: number
URxvt*termName: tmux-256color
URxvt*mouseWheelScrollPage: false
URxvt*cursorBlink: true
URxvt*pointerBlank: true
! URxvt*url-launcher: string
URxvt.perl-ext-common: default,resize-font
URxvt*font: xft:Iosevka Nerd Font Mono:style=Regular:size=10
URxvt*boldFont: xft:Iosevka Nerd Font Mono:style=Bold:size=10
URxvt*italicFont: xft:Iosevka Nerd Font Mono:style=Italic:size=10
URxvt*boldItalicFont: xft:Iosevka Nerd Font Mono:style=Bold\ Italic:size=10
!URxvt*letterSpace: -1


!!!!!!!!!!!!!!!!!!!!
!!  XSCREENSAVER  !!
!!!!!!!!!!!!!!!!!!!!
xscreensaver.Dialog.headingFont: -*-bitstream vera sans-bold-r-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont: -*-bitstream vera sans-medium-r-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont: -*-bitstream vera sans-medium-r-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont: -*-bitstream vera sans-medium-r-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont: -*-bitstream vera sans-bold-r-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont: -*-bitstream vera sans-bold-r-*-*-17-*-*-*-*-*-*-*
xscreensaver.Dialog.passwdFont: -*-courier 10 pitch-*-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.text.foreground: #AB9BAB
xscreensaver.Dialog.text.background: #1B181B
xscreensaver.Dialog.internalBorderWidth: 60
xscreensaver.Dialog.borderWidth: 0
xscreensaver.Dialog.shadowThickness: 2
xscreensaver.passwd.thermometer.foreground: #F7F3F7
xscreensaver.passwd.thermometer.background: #1B181B
xscreensaver.dateFormat: %H:%M %a %b %d, %Y


!!!!!!!!!
!! XFT !!
!!!!!!!!!
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

!!!!!!!!!!!!!
!! XCURSOR !!
!!!!!!!!!!!!!
Xcursor.size: 32
